<footer class="py-4 border-top text-center f-info">
  <!-- Company name and copyright -->
  

  <!-- Social media links -->
  <div class="d-flex justify-content-center gap-3 social">
    
       <i class="fa-brands fa-instagram" style="color : rgb(139, 10, 53)"></i>
   
   
      <i class="fa-brands fa-facebook" style="color : rgb(5, 45, 98)"></i>
      
    
  
      <i class="fa-brands fa-twitter" style = "color: rgb(29 161 242)"></i>
    
   
      <i class="fa-brands fa-linkedin" style  = "color : rgb(17, 148, 218)"></i>
   
  </div>

  <div class="mb-3 text-body-secondary">
    © 2025 <strong>Wonderlust</strong>
  </div>
</footer>
